@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

[data-theme='dark'] {
  --background: #171717;
  --foreground: #ffffff;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: var(--background);
}

:root {
  --radius: 0.6rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
